body{
}
.inline {
	display:inline-block;
}
.affix-bottom{
	position:absolute;
	bottom: 0px;
}
.container {
}
.height-all{
	height:100%;
}
.stretch {
	position:absolute;
	top:20px;
	bottom:105px;
	width:100%;
}
.chatbox {
	box-shadow: 2px 2px 5px #444;
	-webkit-box-shadow: 2px 2px 5px #444;
	background: #eee;	
	height:100%;
	overflow:auto;
	border-radius: 4px 0 0 4px;
}
.chat-input {
}
#user-list{
	display: absolute;
	z-index: -10;
	overflow:auto;
	height:100%;
	box-shadow: inset 1px 1px 2px #444;
	-webkit-box-shadow: inset 1px 1px 2px #444;
	border-radius: 0 4px 4px 0;
}
.table{
	position:relative;
	display:table;
	vertical-align: top;
}
.cell{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}
