body{
}
.inline {
	display:inline-block;
}
.affix-bottom{
	position:absolute;
	bottom: 0px;
}
.chatbox {
	box-shadow: inset 2px 2px 5px #000;
	-webkit-box-shadow: inset 2px 2px 5px #000;
	background: #eee;
}
.chat-input {
	width:90%;
}
.table{
	position:relative;
	display:table;
	vertical-align: top;
}
.cell{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}